.app-body{
    padding-top:80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.app-header{
    position: fixed;
}

.grid{
    list-style:none;
    margin: 0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
}

.grid >li{
    display: flex;
    align-items:center;
    flex-grow: 1;
}

.h1-thin {
    font-weight: 300;
}

.barGrid{
    display:flex;
    flex-wrap: wrap;
}

.barGrid > a{
    display: flex;
    align-items: center
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color:"red"
}
