body{
    font-family: Roboto, sans-serif;
}

.app-body{
    padding-top:80px;    
    width:80%;
    padding-left: 10%;
    padding-right: 10%;

}

.app-header{
    position: fixed;
}

.grid{
    list-style:none;
    margin: 0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
}

.grid >li{
    display: flex;
    align-items:center;
    flex-grow: 1;
}

.h1-thin {
    font-weight: 300;
}

.barGrid{
    display:inline-flex;
    flex-wrap: wrap;
}

.barGrid > a{
    display: flex;
    align-items: center
}

a{
    color: #FFF3E0;
    text-decoration: none;
}

a.cat{
    color: #00BCD4;
    text-decoration: none;
}

a.post{
    color: #FF6E40;
    text-decoration: none;
}

.smallerToolbar{
    transform: scale(0.8);
    transform-origin: 0 0
}

.loginCover{
    position: fixed;    
    left:0;
    top:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content:center;
    align-items: center
}

.loginHeader{
  
    color:#f39c12;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;

}

hr.dotted {
    margin-top:.5em;
    margin-bottom:.5em;
    display: block;
    border-top: 1px dotted #8c8b8b;    
	border-bottom: 1px dotted #fff;
}

.addPostFloatButton{
    position: fixed;
    right:3%;
    bottom:3%;
}

.expandButton{
    cursor: pointer;
    margin-right: .2em;
    font-size: 1.7em;
    transform-origin: 0% 50%;            
    color:#8c8b8b;
    transition: all 0.15s ease-in-out;
}

.expandButton:hover{
    color:#d35400
}

.expandButton[data-collapsed='false']{
    color:#d35400;
    transform: rotate(45deg);
}
