body{
    font-family: Roboto, sans-serif;
}

.app-body{
    padding-top:80px;    
    margin-left: 10px;
    margin-right: 10px;
    width:80%;
    padding-left: 10%;
    padding-right: 10%;

}

.app-header{
    position: fixed;
}

.grid{
    list-style:none;
    margin: 0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
}

.grid >li{
    display: flex;
    align-items:center;
    flex-grow: 1;
}

.h1-thin {
    font-weight: 300;
}

.barGrid{
    display:inline-flex;
    flex-wrap: wrap;
}

.barGrid > a{
    display: flex;
    align-items: center
}

a{
    color: #FFF3E0;
    text-decoration: none;
}

a.cat{
    color: #00BCD4;
    text-decoration: none;
}

a.post{
    color: #FF6E40;
    text-decoration: none;
}

.smallerToolbar{
    transform: scale(0.8);
    transform-origin: 0 0
}